.container {
		    overflow: hidden;
		}
	
	    .suggestedGroup {
		    float: left;
			margin: 20px;
		}
		
		.reportStatus {
		    margin: 20px;
			color: #008800;
		}
		
		.fadingIn {
		    animation: fadein 1s;
		    -moz-animation: fadein 1s;
		    -o-animation: fadein 1s;
		    -webkit-animation: fadein 1s;
		}
				
		@keyframes fadein {
			from {
				opacity:0;
				padding-top: 100px;
			}
			to {
				opacity:1;
				padding-top: 0px
			}
		}
		@-moz-keyframes fadein { /* Firefox */
			from {
				opacity:0;
			}
			to {
				opacity:1;
			}
		}
		@-webkit-keyframes fadein { /* Safari and Chrome */
			from {
				opacity:0;
				padding-top: 100px;				
			}
			to {
				opacity:1;
				padding-top: 0px;				
			}
		}
		@-o-keyframes fadein { /* Opera */
			from {
				opacity:0;
			}
			to {
				opacity: 1;
			}
		}​		